@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlPostBen = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlAlteracaoBen = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlExclusaoBen = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
        var alterarBeneficiarioID;
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/listBeneficiarios")
    @Scripts.Render("~/bundles/beneficiarios")
    @Scripts.Render("~/bundles/altBeneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")