
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlAlteracao = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var urlPostBen = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlAlteracaoBen = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/listBeneficiarios")
    @Scripts.Render("~/bundles/beneficiarios")
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")